<h1>All Available Products:</h1>
<% @products.each do |product| %>
  <img src = <%= product.image %>>
  <p> <%= product.name %>
  <p> <%= product.description %> </p>
  <p> <%= product.price %> </p>
<% end %>
